// Home Footer 
.footer-wrapper {
    background-image: url(../assets/images/vector-1.png), url(../assets/images/dots-vector.png), url(../assets/images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: -6rem 1rem, 0rem 11rem, right 3.2rem;
    background-size: 13rem, 3rem, 9%;
    padding-top: 30px;

    @media(max-width: 1365px) {
        background-size: 0rem, 0rem, 0%;
    }

    .container-fluid {
        .row {
            .col-md-3 {
                .footer-left {
                    @media(max-width: 991px) {
                        text-align: center;
                    }

                    @media(max-width: 767px) {
                        text-align: left;
                    }

                    a {
                        text-decoration: none;

                        img {
                            max-width: 90%;
                            margin-bottom: 20px;
                        }
                    }

                    p {
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 26px;
                        color: #656565;

                        @media(max-width: 991px) {
                            font-size: 14px;
                        }

                        @media(max-width: 767px) {
                            font-size: 14px;
                            text-align: center;
                        }

                        @media(max-width: 575px) {
                            text-align: left;
                        }

                    }
                }

                .menu {
                    padding-left: 15%;

                    @media(max-width: 1199px) {
                        padding-left: 0;
                    }

                    @media(max-width: 767px) {
                        margin: 10px 0px;
                    }

                    @media(max-width: 575px) {
                        text-align: left;
                    }

                    h6 {
                        font-size: 22px;
                        font-weight: 500;
                        color: #000000;
                        margin-bottom: 20px;

                        @media(max-width: 1199px) {
                            font-size: 20px;
                        }

                        @media(max-width: 767px) {
                            font-size: 22px;
                            margin-bottom: 10px;
                        }

                        @media(max-width: 575px) {
                            font-size: 20px;
                        }

                    }

                    ul {
                        padding-left: 0;
                        list-style: none;

                        li {
                            padding: 7px 0px;

                            @media(max-width: 767px) {
                                padding: 2px 0px;
                            }

                            a {

                                text-decoration: none;
                                font-weight: 400;
                                color: #000000;
                                font-size: 18px;
                                transition: 0.5s ease;

                                &:hover {
                                    padding-left: 10px;
                                }

                                @media(max-width: 1199px) {
                                    font-size: 16px;
                                }

                                @media(max-width: 767px) {
                                    font-size: 18px;
                                }

                                @media(max-width: 575px) {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }

                .company {
                    padding-left: 80px;

                    @media(max-width: 1199px) {
                        padding-left: 50px;
                    }

                    @media(max-width: 991px) {
                        padding-left: 0;
                    }
                }

                .connected {
                    @media(max-width: 767px) {
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }

                    @media(max-width: 575px) {
                        text-align: left;
                    }

                    h6 {
                        font-size: 22px;
                        font-weight: 500;
                        color: #000000;
                        margin-bottom: 30px;

                        @media(max-width: 1199px) {
                            font-size: 20px;
                        }

                        @media(max-width: 767px) {
                            font-size: 20px;
                            margin-bottom: 10px;
                        }

                    }

                    a {
                        text-decoration: none;
                        margin-right: 12px;

                        i {
                            width: 34px;
                            height: 34px;
                            background: #B3B3B3;
                            border-radius: 50%;
                            color: #ffffff;
                            line-height: 34px;
                            text-align: center;
                            transition: 0.5s ease;

                            &:hover {
                                background: #492D21;
                            }
                        }
                    }

                }
            }
        }
    }

    .copyright-wrapper {
        text-align: center;
        position: relative;

        &::after {
            position: absolute;
            left: 0;
            top: 0;
            content: "";
            background-color: #000000;
            height: 1px;
            width: 100%;
            opacity: 10%;
        }

        p {
            margin: 0;
            color: #000000;
            font-weight: 400;
            font-size: 16px;
            padding: 10px 0px;

            @media(max-width: 428px) {
                font-size: 14px;
            }

            @media(max-width: 328px) {
                font-size: 12px;
            }
        }
    }
}

// Home Footer 