html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: $font;
  background: #ffffff;
}

// Break barrier 
.break-barrier-wrapper{
  background-image: url(../assets/images/brakebg.png);
  background-repeat: no-repeat;
  background-position: 0rem;
  // background-size: 6rem;
  position: relative;
  margin-bottom: 140px;

  @media(max-width: 1680px){
    margin-bottom: 140px;
    background-size: 7rem;
  }
  @media(max-width: 1600px){
    background-size: 8rem;
    margin-bottom: 100px;
    background-position: 0rem 4rem;
  }
  @media(max-width: 1440px){
    margin-bottom: 130px;
  }
  @media(max-width: 1366px){
    background-size: 6rem;
    margin-bottom: 120px;
  }
  @media(max-width: 1280px){
    background-size: 0rem;
  }
  @media(max-width: 1024px){
    margin-bottom: 95px;
  }
  @media(max-width: 767px){
    padding-bottom: 30px;
    margin-bottom: 0;
  }
  .container-fluid{
      .row{
        .col-md-6{
          .break-left{
            // padding-top: 50px;
            padding-top: 92px;
            @media(max-width: 1680px){
              padding-top: 75px;
            }
            @media(max-width: 1600px){
              padding-top: 40px;
            }
            @media(max-width: 1440px){
              padding-top: 60px;
            }
            @media(max-width: 1366px){
              padding-top: 35px;
            }
            @media(max-width: 1024px){
              padding-top: 40px;
            }
            @media(max-width: 767px){
              padding-top: 10px;
              margin-bottom: 15px;
            }
            h3{
              font-size: 48px;
              line-height: 72px;
              font-weight: 500;
              color: #000000;
              margin-bottom: 9px;
              @media(max-width: 1600px){
                font-size: 42px;
                line-height: 50px;
              }
              @media(max-width: 1440px){
                margin-bottom: 15px;
              }
              @media(max-width: 1024px){
                font-size: 40px;
                line-height: 45px;
                margin-bottom: 15px;
              }

              @media(max-width: 991px){
                font-size: 30px;
                line-height: 22px;
                margin-bottom: 20px;
            }

            @media(max-width: 847px){
              font-size: 27px;
            }
            @media(max-width: 768px){
              font-size: 26px;
            }
            @media(max-width: 767px){
              font-size: 48px;
              line-height: 40px;
            }
            @media(max-width: 669px){
              font-size: 47px;
            }
            @media(max-width: 646px){
              font-size: 46px;
            }
            @media(max-width: 633px){
              font-size: 45px;
            }
            @media(max-width: 619px){
              font-size: 44px;
            }
            @media(max-width: 606px){
              font-size: 42px;
            }
            @media(max-width: 580px){
              font-size: 40px;
            }
            @media(max-width: 575px){
              font-size: 30px;
              line-height: 20px;
              padding-top: 10px;
            }
            @media(max-width: 423px){
              font-size: 28px;
            }
            @media(max-width: 397px){
              font-size: 27px;
            }
            @media(max-width: 383px){
              font-size: 26px;
            }
            @media(max-width: 370px){
              font-size: 25px;
            }
            @media(max-width: 357px){
              font-size: 24px;
            }
            @media(max-width: 344px){
              font-size: 23px;
            }
            @media(max-width: 331px){
              font-size: 22px;
            }

            br{
              @media(max-width: 1024px){
              display: none;
              }
              @media(max-width: 575px){
                display: none;
              }
            }
              span{
                color: #fccc4f;
              }
            }
            p{
              color: #656565;
              font-size: 18px;
              font-weight: 400;
              line-height: 36px;
              // padding-right: 45px;
              margin-bottom: 16px;
              @media(max-width: 1680px){
                padding-right: 30px;
              }
              @media(max-width: 1600px){
                font-size: 16px;
                line-height: 30px;
              }
              @media(max-width: 1440px){
                line-height: 28px;
                padding-right: 30px;
              }
              @media(max-width: 1366px){
                padding-right: 0px;
              }
              @media(max-width: 1024px){
                font-size: 14px;
                line-height: 22px;
              }
              @media(max-width: 767px){
                font-size: 14px;
                line-height: 24px;
              }
              @media(max-width: 575px){
                margin-bottom: 15px;
              }
              @media(max-width: 483px){
                font-size: 12px;
                line-height: 20px;
              }
            }
            .buttons-wrapper{
              a{
                border-radius: 8px;
                padding: 12px 30px;
                font-size: 16px;
                font-weight: 500;
                border: 1px solid #492D21;
                transition: 0.5s ease;
                color: #492D21;
                text-decoration: none;
                margin-right: 20px;
                @media(max-width: 1199px){
                  font-size: 16px;
                  padding: 12px 20px;
                }
                @media(max-width: 991px){
                  font-size: 14px;
                  padding: 10px 7px;
                  margin-right: 5px;
                }
                @media(max-width: 767px){
                  font-size: 16px;
                  padding: 10px 15px;
                }
                @media(max-width: 483px){
                  font-size: 12px;
                  padding: 7px 5px;
                }
                &:hover{
                  background-color: #492D21;
                  color: #ffffff;
                }
              }
              span{
                color: #492D21;
                font-size: 16px;
                font-weight: 500;
                @media(max-width: 991px){
                  font-size: 14px;
                }
                @media(max-width: 767px){
                  font-size: 16px;
                }
                @media(max-width: 483px){
                  font-size: 12px;
                }
                i{
                  color: #492D21;
                  border: 1px solid #492D21;
                  width: 49px;
                  cursor: pointer;
                  height: 49px;
                  line-height: 49px;
                  text-align: center;
                  border-radius: 50%;
                  transition: 0.5s ease;
                  &:hover{
                    background-color: #492D21;
                    color: #ffffff;
                  }
                  @media(max-width: 1199px){
                    width: 42px;
                    height: 42px;
                    line-height: 42px;
                  }
                  @media(max-width: 767px){
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                  }
                  @media(max-width: 483px){
                    width: 33px;
                    height: 33px;
                    line-height: 33px;
                  }
                }
              }
            }
          }
        }
        .col-md-6{
          .break-right{
            padding-top: 75px;
            @media(max-width: 1680px){
              padding-top: 60px;
            }
            @media(max-width: 1600px){
              padding-top: 30px;
            }
            @media(max-width: 1440px){
              padding-top: 50px;
            }
            @media(max-width: 1440px){
              padding-top: 25px;
            }
            @media(max-width: 1024px){
              padding-top: 40px;
            }
            @media(max-width: 767px){
              padding-top: 0px;
            }
            img{
              width: 100%;
            }
          } 
        }
      }
  }
}
// Break barrier

// Modal 
.modal-dialog{
  max-width: 800px;
  margin: 30px auto;
  .modal-body{
    position: relative;
    padding: 0px;
    .close{
      position: absolute;
      right: -30px;
      top: 0;
      font-size: 2rem;
      font-weight: normal;
      color: #fff;
      opacity: 1;
      
    }
  }
}
// Modal 

// Category 
.category-wrapper{
  background-image: url(../assets/images/category-right.png);
  background-repeat: no-repeat;
  background-position: right 4rem;
  background-size: 6rem;
  background-color: #f6f4f4;
  padding: 0px 0px 56px 0px;
  margin-top: 120px;
  // padding: 15px 0px 99px 0px;
  border: 0px solid transparent;
  border-radius: 50%/20px 20px 0 0;
  position: relative;
  @media(max-width: 1680px){
    margin-top: 150px;
  }
  @media(max-width: 1600px){
    margin-top: 105px;
  }
  @media(max-width: 1440px){
    background-image: unset;
  }
  @media(max-width: 1366px){
    padding: 0px 0px 30px 0px;
  }
  @media(max-width: 1024px){
    margin-top: 150px;
  }
  @media(max-width: 767px){
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0;
    border-radius: 0;
    background-color: unset;
  }
  .left{
    position: absolute;
    left: 0;
    bottom: -60px;
    @media(max-width: 1024px){
      display: none;
    }
  }
  .right{
    position: absolute;
    right: 10px;
    top: -38px;
    @media(max-width: 1024px){
      display: none;
    }
  }
  img{
    
    &:first-child{
      width: 49px;
    }
    width: 38px;
  }
  .container-fluid{
    .row{
      .col-md-6{
        .mycard{
          @media(max-width: 767px){
           margin-bottom: 15px;
           display: none;
          }
          a{
            text-decoration: none;
            .mycard-inner{
              margin-top: -80px;
              // padding: 25px 15px; 
              padding: 29px 25px 29px 40px;
              border-radius: 8px;
              background-color: #F6F4F4;
              transition: 0.5s ease;
              border: 1px solid rgba(231, 231, 231, 1);
              filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.05));
              display: flex;
              flex-direction: row;
              width: 76%;
              align-items: center;

              @media(max-width: 1600px){
                width: 80%;
              }

              @media(max-width: 1440px){
                width: 90%;
              }
              @media(max-width: 1366px){
                width: 80%;
                padding: 20px 20px 20px 30px;
              }
              @media(max-width: 1024px){
                width: 90%;
              }
              @media(max-width: 1000px){
                width: 100%;
              }
              // @media(max-width: 1680px){
              //   width: 80%;
              // }
              // @media(max-width: 1200px){
              //   width: 100%;
              // }
              // @media(max-width: 991px){
              //   width: 100%;
              // }
              // @media(max-width: 900px){
              //   margin-top: -50px;
              // }
              // @media(max-width: 796px){
              //   padding: 25px 10px;
              // }
              .mycard-left{
                width: 40%;
                @media(max-width: 900px){
                  width: 42%;
                }
                @media(max-width: 796px){
                  width: 38%;
                }
                .image{
                  background-color: #ffffff;
                  // padding: 30px;
                  border-radius: 50%;
                  width: 200px;
                  height: 200px;
                  position: relative;
                  transition: 0.5s ease;
                  @media(max-width: 1366px){
                    width: 170px;
                    height: 170px;
                  }
                  @media(max-width: 1024px){
                    width: 160px;
                    height: 160px;
                  }
                  @media(max-width: 900px){
                    width: 130px;
                    height: 130px;
                  }
                  @media(max-width: 796px){
                    width: 115px;
                    height: 115px;
                  }
                  // @media(max-width: 900px){
                  //   width: 130px;
                  //   height: 130px;
                  // }
                  // @media(max-width: 796px){
                  //   width: 110px;
                  //   height: 110px;
                  // }
                  img{
                    // width: 130px;
                    // height: 130px;
                    // width: 100%;
                    width: 166px;
                    height: 185px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);

                    @media(max-width: 1366px){
                      width: 141px;
                      height: 160px;
                    }
                    @media(max-width: 1024px){
                      width: 121px;
                      height: 140px;
                    }
                    @media(max-width: 900px){
                      width: 110px;
                      height: 110px;
                    }
                    @media(max-width: 796px){
                      width: 90px;
                      height: 90px;
                    }
                  }
                  .icon-block{
                    // height: 100px;
                    width: 200px;
                    height: 146px;

                    @media(max-width: 1366px){
                      width: 175px;
                      height: 121px;
                    }
                    @media(max-width: 1024px){
                      width: 155px;
                      height: 101px;
                    }
                    @media(max-width: 796px){
                      width: 120px;
                      height: 80px;
                    }
                  }
                }
             
              }
              .mycard-right{
                padding-left: 45px;

                @media(max-width: 1440px){
                  padding-left: 65px;
                }
                @media(max-width: 1366px){
                  padding-left: 35px;
                }
                @media(max-width: 900px){
                  padding-left: 20px;
                }
                h5{
                  font-size: 24px;
                  font-weight: 500;
                  color: #000000;
                  margin-bottom: 15px;
                  @media(max-width: 1366px){
                    margin-bottom: 10px;
                  }
                
                  @media(max-width: 900px){
                    font-size: 22px;
                  }
                  @media(max-width: 796px){
                    font-size: 20px;
                    margin-bottom: 5px;
                  }
                }
                p{
                  font-size: 20px;
                  color: #000000;
                  font-weight: 500;
                  line-height: 34px;
                  @media(max-width: 1366px){
                    line-height: 30px;
                  }
                  @media(max-width: 900px){
                   font-size: 18px;
                   line-height: 26px;
                  }
                  @media(max-width: 796px){
                    font-size: 16px;
                    line-height: 22px;
                  }
                  span{
                    color: #fccc4f;
                  }
                  br{
                    // display: none;
                    // @media(max-width: 991px){
                    //   display: block;
                    // }
                  }
                }
              }
              &:hover{
                background-color: #ffffff;
                .image{
                  background-color: #f6f4f4;
                }
              } 
            }
            .mycard-inner-first{
              margin-left: auto;
            }
          }
        }
        // Small 
        .mysmallcard{
          display: none;
          @media(max-width: 767px){
           margin-bottom: 15px;
           display: block;
          }
          a{
            text-decoration: none;
            text-align: center;
            .card-border{
              background-color: #f6f4f4;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              padding: 40px 30px;
              width: 100%;
              // text-align: center;
              align-items: center;
              justify-content: center;
              border-radius: 8px;
              transition: 0.5s ease;
              border: 1px solid #E7E7E7;
              filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.05));
              @media(max-width: 1440px){
                padding: 20px 10px;
              }
              @media(max-width: 991px){
                width: 100%;
                padding: 30px;
              }
              @media(max-width: 575px){
                padding: 25px 10px;
              }
              @media(max-width: 450px){
                padding: 15px 10px;
              }
              &:hover{
                background-color: #ffffff;
                border: 1px solid #fff;
                box-shadow: 0px 4px 25px rgb(0 0 0 / 5%);
                border-radius: 8px;
                // .icon-block{
                //   display: none;
                // }
                // .icon-none{
                //   display: block;
                // }
              }

              .card_left{
                width: 200px;
                height: 200px;
                background-color: #ffffff;
                border-radius: 50%;
                position: relative;
                @media(max-width: 667px){
                  width: 170px;
                  height: 170px;
                }
                @media(max-width: 575px){
                  width: 150px;
                  height: 150px;
                }
                @media(max-width: 500px){
                  width: 130px;
                  height: 130px;
                }
                @media(max-width: 440px){
                  width: 120px;
                  height: 120px;
                }
                @media(max-width: 400px){
                  width: 100px;
                  height: 100px;
                }
                .icon-block{
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%,-50%);
                  content: "";
                  overflow: hidden;
                }
                img{
                  width: 170px;
                  height: 140px;
                  @media(max-width: 667px){
                    width: 150px;
                    height: 120px;
                  }
                  @media(max-width: 575px){
                    width: 130px;
                    height: 110px;
                  }
                  @media(max-width: 500px){
                    width: 115px;
                    height: 95px;
                  }
                  @media(max-width:440px){
                    width: 110px;
                    height: 90px;
                  }
                  @media(max-width: 400px){
                    width: 90px;
                    height: 85px;
                  }
                }
                
              }
              .card_right{
                width: 65%;
                text-align: left;
                padding-left: 50px;
                @media(max-width: 575px){
                  padding-left: 20px;
                }
                @media(max-width: 400px){
                  padding-left: 10px;
                }
                @media(max-width: 372px){
                  padding-left: 20px;
                }
                h5{
                  color: #492D21;
                  font-size: 30px;
                  font-weight: 500;
                  margin-bottom: 5px;
                  line-height: 34px;
                  @media(max-width: 1440px){
                    font-size: 30px;
                    line-height: unset;
                  }
                  @media(max-width: 767px){
                  margin: 0;
                  }
                  @media(max-width: 500px){
                    font-size: 18px;
                    font-weight: bold;
                  }
                }
                p{
                  color: #000000;
                  font-size: 24px;
                  font-weight: 500;
                  br{
                    display: none;
                    @media(max-width: 372px){
                      display: block;
                    }
                  }
                  @media(max-width: 1440px){
                   font-size: 18px;
                   line-height: unset;
                 }
                
                  @media(max-width: 991px){
                   font-size: 18px;
                  }
                  @media(max-width: 813px){
                   font-size: 16px;
                 }
                 @media(max-width: 767px){
                   font-size: 18px;
                 }
                 @media(max-width: 500px){
                   font-size: 14px;
                   font-weight: bold;
                 }
                  span{
                   color: #fccc4f;
                  }
                }
              }



















              // .card_left{
              //   width: 150px;
              //   @media(max-width: 401px){
              //     width: 120px;
              //   }
              // }
                // img{
                //   width: 50%;
                //   @media(max-width: 1440px){
                //     width: 45%;
                //   }
                //   @media(max-width: 767px){
                //   //  width: 45%;
                //   width: 121px;
                //    height: auto;
                //   }
                //   @media(max-width: 401px){
                //     width: 100px;
                //   }
                //   }
                  // .icon-none{
                  //   display: none;
                  //   width: 58%;
                  //   @media(max-width: 1440px){
                  //     width: 52%;
                  //   }
                  //   @media(max-width: 767px){
                  //   width: 130px;
                  //   height: auto;
                  //   }
                  //   @media(max-width: 401px){
                  //     width: 110px;
                  //   }
                  // }
                  // .icon-small{
                  //   width: 58%;
                  //   @media(max-width: 1440px){
                  //     width: 52%;
                  //   }
                  //   @media(max-width: 767px){
                  //   width: 130px;
                  //   height: auto;
                  //   }
                  //   @media(max-width: 401px){
                  //     width: 110px;
                  //   }
                  // }
             
             
            //  .card_right{
            //    text-align: left;
            //    @media(max-width: 401px){
            //     padding-left: 10px;
            //    }
            //    h5{
            //      color: #492D21;
            //      font-size: 30px;
            //      font-weight: 500;
            //      margin-bottom: 5px;
            //      line-height: 34px;
            //      @media(max-width: 1440px){
            //       font-size: 30px;
            //       line-height: unset;
            //     }
            //     @media(max-width: 767px){
            //      margin: 0;
            //     }
            //     @media(max-width: 500px){
            //       font-size: 18px;
            //       font-weight: bold;
            //     }
            //    }
               p{
                 color: #000000;
                 font-size: 24px;
                 font-weight: 500;
                 @media(max-width: 1440px){
                  font-size: 18px;
                  line-height: unset;
                }
               
                 @media(max-width: 991px){
                  font-size: 18px;
                 }
                 @media(max-width: 813px){
                  font-size: 16px;
                }
                @media(max-width: 767px){
                  font-size: 18px;
                }
                @media(max-width: 500px){
                  font-size: 14px;
                  font-weight: bold;
                }
                //  @media(max-width: 500px){
                //   font-size: 14px;
                //  }
                 span{
                  color: #fccc4f;
                 }
               }
            //    .get{
            //      margin-bottom: 0px;

            //      br{
            //        display: none;
            //        @media(max-width: 380px){
            //         display: block;
            //        }
            //      }
            //    }
            //  }
            }
            .card-first{
              margin-left: auto;
            }
          }
        }
        // Small 
      }
    }
  }
}
// Category 
// How Works 
.how-works-wrapper{
  padding: 60px 0px;
  background-image: url(../assets/images/abt-section-bg-1.png), url(../assets/images/dots-vector.png), url(../assets/images/compound.png);
  background-repeat: no-repeat;
  background-position: 0rem 8rem, 0rem 50rem, 27rem 52rem;
  background-size: 1, 1, 1, 1;
  @media(max-width: 1900px){
   background-image: unset;
  }
  @media(max-width: 767px){
    padding: 30px 0px;
  }
  .container-fluid{
    .how-works-header{
      text-align: center;
      margin-bottom: 60px;
      @media(max-width: 767px){
        margin-bottom: 35px;
      }
      h3{
        color: #000000;
        font-size: 48px;
        line-height: 72px;
        font-weight: 500;
        @media(max-width: 1600px){
          font-size: 42px;
          line-height: unset;
        }
        @media(max-width: 1440px){
          margin-bottom: 15px;
        }
        @media(max-width: 991px){
          font-size: 38px;
          margin-bottom: 5px;
      }
      @media(max-width: 767px){
        font-size: 34px;
      }
      @media(max-width: 365px){
        font-size: 29px;
      }
        span{
          color: #fccc4f;
        }
      }
      p{
        font-size: 18px;
        font-weight: 400;
        line-height: 34px;
        color: #656565;
        width: 930px;
        margin: 0 auto;
        @media(max-width: 1600px){
          font-size: 18px;
          line-height: 30px;
        }
        @media(max-width: 1440px){
          font-size: 16px;
          line-height: 26px;
          width: 765px;
        }
        @media(max-width: 1366px){
          width: unset;
          padding: 0 290px;
        }
        @media(max-width: 1280px){
          padding: 0 180px;
        }
        @media(max-width: 1100px){
          padding: 0 100px;
        }
        @media(max-width: 991px){
          padding: 0;
        }
        @media(max-width: 500px){
          font-size: 14px;
        }

      }
    }
    .row{
      .experts{
        padding-right: 38px;
        @media(max-width: 1024px){
          padding-right: 0;
        }
        .small-device-img{
          img{
            width: 100%;
            display: none;
            @media(max-width: 767px){
              display: block;
              margin-bottom: 20px;
            }
          }
        }
        h5{
          font-size: 36px;
          color: #492D21;
          font-weight: 500;
          margin-bottom: 20px;
          position: relative;
          @media(max-width: 1600px){
            font-size: 30px;
          }
          @media(max-width: 1280px){
            font-size: 28px;
          }
          @media(max-width: 767px){
            margin-bottom: 0;
          }
          @media(max-width: 500px){
            font-size: 24px;
            margin-bottom: 10px;
          }
        }
        .small-border{
          background-color: #492D21;
          width: 100%;
          height: 1px;
          opacity: 10%;
          margin: 10px 0px 15px 0px;
          display: none;
          @media(max-width: 767px){
            display: block;
          }
        }
        p{
          font-size: 18px;
          font-weight: 400;
          line-height: 34px;
          color: #656565;
          @media(max-width: 1600px){
            font-size: 16px;
            line-height: 26px;
          }
          @media(max-width: 500px){
            font-size: 14px;
          }
        }
      }
      .expert-image{
        img{
          width: 100%;
          @media(max-width: 991px){
            padding-top: 30px;
          }
          @media(max-width: 767px){
            padding-top: 0;
            display: none;
          }
        }
      }
    }
    .margin-botom{
      margin-bottom: 60px;
      @media(max-width: 767px){
        margin-bottom: 15px;
      }
    }
    .row{
      .employers-image{
        img{
          width: 100%;
          padding-top: 100px;
          @media(max-width: 767px){
            padding-top: 0;
            margin-bottom: 15px;
          }
        }
      }
      .employers{
        h5{
          font-size: 36px;
          color: #492D21;
          font-weight: 500;
          margin-bottom: 20px;
          @media(max-width: 1600px){
            font-size: 30px;
          }
          @media(max-width: 1280px){
            font-size: 28px;
          }
          @media(max-width: 767px){
            margin-bottom: 0;
          }
          @media(max-width: 500px){
            font-size: 24px;
            margin-bottom: 10px;
          }
        }
        .small-border{
          background-color: #492D21;
          width: 100%;
          height: 1px;
          opacity: 10%;
          margin: 10px 0px 15px 0px;
          display: none;
          @media(max-width: 767px){
            display: block;
          }
        }
        p{
          font-size: 18px;
          font-weight: 400;
          line-height: 34px;
          color: #656565;
          @media(max-width: 1600px){
            font-size: 16px;
            line-height: 26px;
          }
          @media(max-width: 500px){
            font-size: 14px;
          }
        }
      }
    }
  }
}
// How Works 

// High Level Work Flow 
.high-level-work-flow-wrapper{
  padding: 60px 0px 80px 0px;
  background-color: #f6f4f4;
  border: 0px solid transparent;
  border-radius: 50%/20px 20px 0 0;
  background-image: url(../assets/images/flow-left-top.png), url(../assets/images/flow-left-bottom.png), url(../assets/images/right.png);
  background-repeat: no-repeat;
  background-position: 0rem 6rem, 0rem 58rem, right 5rem;
  position: relative;

  @media(max-width: 1900px){
    background-image: unset;
  }
  @media(max-width: 767px){
    padding: 35px 0px 50px 0px;
    border-radius: 0;
  }
  img{
    width: 38px;
  }
  .right{
    position: absolute;
    right: 10px;
    top: -58px;
    @media(max-width: 767px){
      display: none;
    }
  }
  .container{
    .top{
      text-align: center;
      h3{
        color: #000000;
        font-size: 64px;
        font-weight: 500;
        @media(max-width: 1600px){
          font-size: 42px;
          line-height: unset;
        }
        @media(max-width: 1440px){
          margin-bottom: 15px;
        }
        @media(max-width: 991px){
          font-size: 38px;
          line-height: 45px;
      }
      @media(max-width: 767px){
        font-size: 34px;
        margin-bottom: 5px;
      }
      @media(max-width: 365px){
        font-size: 29px;
      }
        span{
          color: #fccc4f;
        }
      }
      p{
        font-size: 18px;
        font-weight: 400;
        line-height: 34px;
        color: #656565;
        width: 840px;
        margin: 0 auto;
        @media(max-width: 1600px){
          font-size: 18px;
          line-height: 30px;
        }
        @media(max-width: 1440px){
          font-size: 16px;
          line-height: 26px;
          width: 765px;
        }
        @media(max-width: 1366px){
          width: unset;
          padding: 0 290px;
        }
        @media(max-width: 1280px){
          padding: 0 180px;
        }
        @media(max-width: 1100px){
          padding: 0 100px;
        }
        @media(max-width: 991px){
          padding: 0;
        }
        @media(max-width: 767px){
          margin-bottom: 40px;
        }
        @media(max-width: 500px){
          font-size: 14px;
        }
      }
    }
  }
  .container-fluid{
    .big_img{
      width: 100%;
      @media(max-width: 767px){
        margin-top: 30px;
        display: none;
      }
    }
    // Tabs Button 
    .tabs-button{
      text-align: center;
      margin-bottom: 30px;
      display: none;
      @media(max-width: 767px){
        display: block;
      }
      ul{
        text-align: center;
        justify-content: center;
        margin: 0;
        border-bottom: 1px solid #DDDDDD;
        li{
          a{
            font-size: 18px;
            font-weight: 500;
            color: #000000;
            background-color: #ffffff;
          }
          .tabs-left{
            border-radius: 5px 0px 0px 0px !important;
          }
          .tabs-right{
            border-radius: 0px 5px 0px 0px !important;
          }
          .active{
            background-color: #492D21;
            color: #ffffff;
          }
        }
      }
    }
    // Tabs Button 
    .small-device-width{
      position: relative;
      display: none;
      z-index: 3;
      @media(max-width: 767px){
        display: block;
      }
      .box{
        margin-bottom: 20px;
        z-index: 999;
        position: relative;
        .mycarret{
          position: absolute;
          left: 49.3%;
          top: 40%;
          content: "";
          font-size: 24px;
        }
        .img-right{
          text-align: right;
          img{
            width: unset;
          }
        }
        .img-left{
          img{
            width: unset;
          }
        }
        .para{
          background-color: #ffffff;
          border-radius: 8px;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          padding: 15px;
          text-align: center;
          p{
            font-size: 18px;
            line-height: 24px;
            color: #000000;
            font-weight: 500;
            margin: 0;
          }
        }
        .para-1{
          margin-top: -10px;
        }
        .para-2{
          margin-top: -40px;
        }
        .para-3{
          margin-top: -37px;
        }
        .para-4{
          margin-top: -23px;
        }
        .para-5{
          margin-top: -60px;
        }
        .para-6{
          margin-top: -46px;
        }
        .para-7{
          margin-top: -13px;
        }
        .para-8{
          margin-top: -48px;
        }
        .para-9{
          margin-top: -28px;
        }
        .para-10{
          margin-top: -38px;
        }
      }
      .line{
        position: absolute;
        width: 4px;
        height: 91%;
        left: 50%;
        top: 80px;
        content: "";
        z-index: -1;
      }
    }

  }
}
// High Level Work Flow 





// Container 
.max-width{
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;

  @media(max-width: 1680px){
    max-width: 1440px;
  }
  @media(max-width: 1600px){
    max-width: 1300px;
  }
  @media(max-width: 1440px){
    max-width: 1140px;
  }
  @media(max-width: 1200px){
    max-width: 960px;
  }
  @media(max-width: 992px){
    max-width: 960px;
  }
  @media(max-width: 768px){
    max-width: 720px;
  }
  @media(max-width: 576px){
    max-width: 540px;
  }
  @media(max-width: 575px){
    max-width: 100%;
  }
}
// Container 